<!DOCTYPE html>
<html>
<head>
<title>Book Database Admin</title>
<style>
    .user-bar { text-align: right; margin-bottom: 10px; font-size: 14px; color: #555; }
    .user-bar a {color: #333; text-decoration: none; margin-left: 10px; }
    .user-bar a:hover { text-decoration: underline;} 
</style>
</head>

<body>
<div class="user-bar">
    Admin
    <a href="/logout">Logout</a>
</div>

<h1>Add a book</h1>
<form id = "addBookForm">
<label>ISBN:</label>
<input type="text" id="isbn" required><br><br>
<label>Book Title:</label>
<input type="text" id="title" required><br><br>
<label>Author:</label>
<input type="text" id="author" required><br><br>
<label>Genre:</label>
<select id="genre" required>
    <option value = "Fiction">Fiction</option>
    <option value = "Non-Fiction">Non-Fiction</option>
    <option value = "Thriller">Thriller</option>
    <option value = "Romance">Romance</option>
    <option value = "Fantasy">Fantasy</option>
    <option value = "Horror">Horror</option>
</select><br><br>
<label>Language:</label>
<input type="text" id="language" required><br><br>
<label>Pages:</label>
<input type="number" id="pages" required><br><br>
<label>Date of Publication:</label>
<input type="date" id="date" required><br><br>
<button type="submit">Add Book</button>
</form>
<hr>
<h1>Update Book</h1>
<form id="updateBookForm">
    <label>ISBN:</label>
    <input type="text" id="u_isbn" required><br><br>
    <label>New Title:</label>
    <input type="text" id="u_title" required><br><br>
    <label>New Author:</label>
    <input type="text" id="u_author" required><br><br>
    <label>New Genre:</label>
    <select id="u_genre" required>
        <option value="Fiction">Fiction</option>
        <option value="Non-Fiction">Non-Fiction</option>
        <option value="Thriller">Thriller</option>
        <option value="Romance">Romance</option>
        <option value="Fantasy">Fantasy</option>
        <option value="Horror">Horror</option>
    </select><br><br>
    <label>New Language:</label>
    <input type="text" id="u_language" required><br><br>
    <label>New Pages:</label>
    <input type="number" id="u_pages" required><br><br>
    <label>New Date of Publication:</label>
    <input type="date" id="u_date" required><br><br>
    <button type="submit">Update Book</button>
    <p id="update-msg"></p>
</form>

<script src="{{url_for ('static', filename = 'js/admin.js') }}"></script>
</body>
</html>
